@import "tailwindcss";

:root {
  --bg: #f3f4f6;
  --text: #111827;
  --border: #e5e7eb;
}

.dark {
  --bg: #1f2937;
  --text: #ffffff;
  --border: #374151;
}

* {
  border-color: var(--border);
  background-color: var(--bg);
}